@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model IEnumerable<ProductViewModel>

<div class="container py-5">
    <h2 class="text-center mb-4 fw-bold" style="color: #1a2035;">Product List</h2>
    <a asp-controller="Admin" asp-action="addProducts" class="btn btn-dark mb-2">Add Products</a>

    <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle text-center shadow">
            <thead class="thead-dark">
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Product Description</th>
                    <th>Product Image</th>
                    <th>Price</th>
                    <th>StockQuantity</th>
                    <th>WarrantyPeriodDays</th>
                    <th>Category Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.productList.ProductId</td>
                        <td>@category.productList.ProductName</td>
                        <td>@category.productList.Description</td>
                        <td>
                            <img src="~/ProdImages/@category.productList.ImagePath" width="100" height="100" />
                        </td>
                        <td>@category.productList.Price</td>

                        <td>@category.productList.StockQuantity</td>

                        <td>@category.productList.WarrantyPeriodDays</td>
                        <td>
                            @foreach (var cate in category.categoryList)
                            {
                                if (cate.CategoryId == category.productList.CategoryId)
                                {
                                    @cate.CategoryName
                                }
                            }
                        </td>





                        <td>
                            <a asp-action="editProduct" class="btn btn-dark" asp-controller="Admin" asp-route-id="@category.productList.ProductId">Edit</a>

                        </td>
                        <td>
                            <a asp-action="deleteProducts" class="btn btn-dark" asp-controller="Admin" asp-route-id="@category.productList.ProductId">Delete</a>

                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>